@import '../../../../mixin.scss';

.new-message-container {
    @include dFlex($ai: start, $jc: end);
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding: 50px 0px;
    position: relative;
    border-top: 1px solid var(--border-light-purple);

    .profile-image {
        @include image($br: 50%);
        @include heightWidth($w: auto, $h: 60px);
        margin-left: 30px;
    }

    .name {
        @include dFlex($jc: end);
        flex-direction: row-reverse;

        h5 {
            @include nunito($fw: 700, $fs: 18px);
            margin-left: 20px;
        }

        p {
            @include nunito($fw: 400, $fs: 14px, $c: var(--text-gray));
        }
    }

    .message {
        background-color: var(--purple-2);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 20px 0px 20px 20px;
        margin: 10px 0;
        width: 100%;
        position: relative;

        .message-text {
            @include nunito($fw: 400, $fs: 18px, $c: var(--secundary-bg));
        }

        textarea {
            @include nunito($fw: 400, $fs: 18px, $c: var(--secundary-bg));
            width: 100%;
            height: 100%;
            resize: none;
            outline: none;
            background-color: rgba(160, 160, 160, 0.486);
            border: none;
            border-radius: 20px 0px 20px 20px;
            box-sizing: border-box;
            padding: 10px;

        }

        .edit-info-text {
            position: absolute;
            bottom: -25px;
            @include nunito($fw: 400, $fs: 12px, $c: var(--text-black));

            span {
                color: var(--text-blue);
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .reaction-container {
        @include dFlex($jc: end);
        flex-direction: row-reverse;

        button {
            @include dFlex();
            border: none;
            border: 1px solid var(--purple-2);
            border-radius: 20px;
            padding: 5px 10px;
            background-color: var(--secundary-bg);
            margin-left: 10px;

            img {
                height: 100%
            }

            p {
                @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
                margin-left: 10px;
            }
        }

        .add-reaction-btn {
            margin-left: 10px;
        }
    }

    .answer-date-time-container {
        @include dFlex();
        position: absolute;
        top: -18px;
        left: 38%;
        border-radius: 20px;
        border: 1px solid var(--border-light-purple);
        box-sizing: border-box;
        padding: 5px 10px;
        background-color: var(--secundary-bg);

        p {
            @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
        }
    }

}

.hover {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 30px;

    &:hover {
        background-color: var(--primary-bg);
    }
}

.options {
    background-color: white;
    box-sizing: border-box;
    padding: 0px 10px;
    position: absolute;
    left: 50px;
    top: 25px;
    border-radius: 20px 20px 0px 20px;
    border: 2px solid var(--border-light-purple);
    @include dFlex();


    .options-btn {
        @include heightWidth($w: 40px, $h: 40px);
        border: none;
        margin: 0 5px;
        text-align: center;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;

        &:hover {
            background-color: var(--border-light-purple);
        }
    }

    .optionsMenu {
        background-color: white;
        margin-top: 20px;
    }
}

.edit-message-menu {
    @include dFlex($ai: start);
    background-color: white;
    position: absolute;
    bottom: -79px;
    right: -2px;
    flex-direction: column;
    border-radius: 0px 0px 0px 10px;
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid var(--border-light-purple);

    button {
        border: none;
        background-color: white;
        @include nunito($fw: 400, $fs: 16px, $c: black);
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--border-light-purple);
        }
    }
}

.postet-image-container {
    width: 100%;
    @include dFlex($jc: end);
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.image {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}