<section>
    <app-chat-header></app-chat-header>

    <div class="main-message-container" #messageContainer>

        <div *ngIf="directMessageService.isDirectMessage == false" class="mesage-container">
            <ng-container *ngIf="isLoading; else messageList">
                <div class="loader">Laden...</div>
            </ng-container>

            <ng-template #messageList>
                <app-message *ngFor="let msg of message; index as i" [message]="msg" [index]="i"
                    (deleteEvent)="handleDeleteMessage(i)">
                </app-message>
            </ng-template>

            <div class="welcome-message" *ngIf="!isLoading && messageService.messages.length == 0">
                <div>
                    <mat-icon class="hashtag">tag</mat-icon>
                    <h2>{{auth.currentChannelData.title}}</h2>
                </div>
                <p>Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels <span># {{auth.currentChannelData.title}}</span></p>
            </div>

        </div>

        <div *ngIf="directMessageService.isDirectMessage" class="direct-message-container">
            <ng-container *ngIf="isLoading; else directMessageList">
                <div class="loader">Laden...</div>
            </ng-container>

            <ng-template #directMessageList>
                <app-message *ngFor="let msg of directMessageService.allDirectMessages; index as i" [message]="msg" [index]="i"
                    (deleteEvent)="handleDeleteMessage(i)">
                </app-message>
            </ng-template>

            <div class="welcome-direct-message" *ngIf="!isLoading && directMessageService.allDirectMessages.length == 0">
                <div>
                    <img src="{{directMessageService.directMessageUserData.imageUrl}}">
                    <h2>{{directMessageService.directMessageUserData.name}}</h2>
                </div>
                <p>Diese Unterhaltung findet nur zwischen <span>&#64;{{directMessageService.directMessageUserData.name}}</span> und dir statt</p>
            </div>

        </div>

    </div>

    <app-chat-message-field
     (messagesUpdated)="onMessagesUpdated()"
     
     ></app-chat-message-field>
</section>