<section>
    <app-chat-header></app-chat-header>

    <div class="main-message-container">

        <div class="new-message-container">
            <img src="/img/profil-pic/002.svg" alt="">
            <div class="message-container">
                <div class="name">
                    <h5>Noah Braun</h5>
                    <p>14:25 Uhr</p>
                </div>
                <div class="message">Welche Version ist aktuell von Angular</div>
                <div class="answer-container">
                    <p class="answer">2 Anwtorten</p>
                    <p class="answer-time">Letze Antwort 14:56</p>
                </div>
            </div>
            <div class="answer-date-time-container">
                <p>Dienstag, 14 Januar</p>
            </div>
        </div>
        
        <div class="new-message-container">
            <img src="/img/profil-pic/002.svg" alt="">
            <div class="message-container">
                <div class="name">
                    <h5>Noah Braun</h5>
                    <p>14:25 Uhr</p>
                </div>
                <div class="message">Welche Version ist aktuell von Angular</div>
                <div class="answer-container">
                    <p class="answer">2 Anwtorten</p>
                    <p class="answer-time">Letze Antwort 14:56</p>
                </div>
            </div>
            <div class="answer-date-time-container">
                <p>Dienstag, 14 Januar</p>
            </div>
        </div>

        <div class="new-message-container">
            <img src="/img/profil-pic/002.svg" alt="">
            <div class="message-container">
                <div class="name">
                    <h5>Noah Braun</h5>
                    <p>14:25 Uhr</p>
                </div>
                <div class="message">Welche Version ist aktuell von Angular</div>
                <div class="answer-container">
                    <p class="answer">2 Anwtorten</p>
                    <p class="answer-time">Letze Antwort 14:56</p>
                </div>
            </div>
            <div class="answer-date-time-container">
                <p>Dienstag, 14 Januar</p>
            </div>
        </div>

    </div>

    <app-chat-message-field></app-chat-message-field>
</section>