@import '../../../mixin.scss';

.dialogWindow{
    @include padding(40px, 40px, 40px, 40px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Nunito';
}

h2{
    font-size: 24px;
    margin: 0px;
    font-weight: 500;
}

h3,p{
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
}

input, textarea {
    @include padding(18px, 20px, 18px, 20px);
    border: 1px solid var(--border-light-purple);
    transition: border ease-in-out 0.3s;
    outline: none;
    border-radius: 40px;
    font-size: 18px;
    box-sizing: border-box;
    &:focus{
        border: 1.6px solid var(--purple-1);
    }
}

.input-container {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.hash-symbol {
    position: absolute;
    left: 28px;
    color: #333; 
    pointer-events: none; 
    font-weight: 500;
    font-size: 24px;
}

.input-field {
    padding-left: 56px;
    width: 100%;
}

.text-field {
    resize: none; /* Prevent manual resizing */
    scrollbar-width: none;    
    line-height: 24px; /* Line height for clear spacing between lines */
    min-height: calc(24px * 1 + 36px); /* Minimum height for one line + padding */
    max-height: calc(24px * 3 + 36px); /* Maximum height for three lines + padding */
    font-family: 'Nunito';
}

.buttonContainer{
    width: 100%;
    @include dFlex(center, end)
}

button{
    width: fit-content;
    background-color: var(--purple-1) !important;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 25px 12px 25px;
}