@import '../../../mixin.scss';
@import '../../../styles.scss';

.headerComponent{
    @include dFlex;    
}

.headerMainWrapper{
    @include heightWidth;
    @include dFlex;  
    padding:  24px 24px; 
}

.headerContentWrapper{
    width: 100%;
    display: flex;   
    justify-content: space-between;
}

.logo{
    @include heightWidth;
    max-width: 243px;
    img{
        height: 100%;
        object-fit: contain;
        object-position: center;
    }


    &:hover{
        cursor: pointer;
    }
}

.searchbar{
    @include dFlex;  
    background-color: var(--secundary-bg);
    width: 100%;
    max-width: 989px;
    height: 70px;
    border-radius: 46px;
    border: 3px solid var(--secundary-bg);

    &:hover{
        border-color: var(--purple-2);
    }

    .inputFrame{
        padding: 0px 24px;
        width: 100%;
        @include dFlex;  
        justify-content: space-between;


        mat-icon{
            width: 32px;
            height: 70px;
            @include dFlex;  
            color: var(--btn-gray);
            font-size: 32px;
            padding: 0px 12px;
            position: relative;

            &:hover{
                cursor: pointer;
                color: var(--purple-2); 
                font-size: 36px;
            }
        }
    }

    input{
        width: 100%;
        height: 26px;
        font-size: 24px;
        font-family: 'Figtree';
        font-weight: 300;
        border: none;
        &:active, &:focus, &:hover{
            border: none;
            background-color: none;
            outline: none;
        }

        &::placeholder{
            color: var(--btn-gray);
        }

    }
}

.active{
    border-color: var(--purple-2);
}

.profil{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

    .name{
        text-wrap: nowrap;
        font-size: 32px;
        font-family: 'Figtree';
        font-weight: 500;
        padding-right: 24px;
    }

    .profilButton{
        width: 100%;
        padding: 0px 16px;
    }

    mat-icon{
        font-size: 32px;
        &:hover{
            color: var(--purple-2);
            cursor: pointer;
        }
    }
}

.profilPicture{
    height: 70px;
    width: 70px;
    position: relative;


    img{
        border-radius: 50%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .statusSymbol{
        bottom: -2px;
        right: -2px;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        position: absolute;
        background-color: var(--green);
        border: 2px solid var(--primary-bg);
    }
}


