@import '../../../mixin.scss';

::ng-deep .cdk-overlay-container {
    background-color: rgba(7, 4, 29, 0.65);
    @include heightWidth;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

::ng-deep .mat-elevation-z2, .mat-mdc-elevation-specific.mat-elevation-z2 {
    box-shadow: none !important;
}

::ng-deep .mat-mdc-menu-panel {
    margin-top: 8px;
    width: 275px;
    background-color: transparent !important;

    .mat-mdc-menu-content {
        border-radius: 36px 0px 36px 36px;
        background-color: var( --secundary-bg);
        @include dFlex;
        flex-direction: column;
    }

    .mat-mdc-menu-item-text{
        padding: 4px 0px;
        font-size: 21px !important;
    }

    .mat-mdc-menu-item{
        margin: 4px 0px;
        width: 75%;
        border-radius: 36px;
        color: var(--text-black) ;

        &:hover{
            background-color: var(--primary-bg) !important;
            color: var(--text-blue) ;
        }

        span{
            @include dFlex;
        }
    }
}

.headerComponent{
    @include dFlex;
    height: 15vh;

    @include respond-to-maxWidth(large) {
        z-index: 99;
        width: 100%;
        height: 80px;
        position: fixed; 
        top: 0px;
        background-color: var(--primary-bg);
    }
}

.headerMainWrapper{
    @include heightWidth;
    @include dFlex;  
    padding:  24px 24px; 
}

.headerContentWrapper{
    width: 100%;
    @include dFlex($jc: space-between);
    @include respond-to-maxWidth(large) {
        gap: 5%;
    }
}

.logo{
    width: 100%;
    max-width: 256px;
    object-fit: cover;
    @include respond-to-maxWidth(large) {
        @include  heightWidth($w: auto, $h: 100%);
        max-width: auto;
        max-height: 50px;
    }

    img{
        @include  heightWidth($w: 100%, $h: auto);
        @include image;
        display: flex;
        align-items: center;
        max-width: 306px;

        @include respond-to-maxWidth(large) {
            @include  heightWidth($w: auto, $h: 100%);
            max-width: auto;
            max-height: 45px;
        }
    }

    &:hover{
        cursor: pointer;
    }
}

app-searchbar {
width: 50%;
}