@import '../../../mixin.scss';

section {
    @include heightWidth($w: 100%, $h: 100%);
    @include dFlex($jc: space-between);
    flex-direction: column;
    background-color: var(--secundary-bg);
    border-radius: 20px;
    width: 450px;
    @include respond-to-maxWidth(medium) {
        width: 100%;
        max-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        z-index: 2;
    }
    @include respond-to-maxWidth('smallMedium') {
        width: 100%;
        max-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        z-index: 2;
    }
}

.main-message-container {
    @include heightWidth($h: 70%);
    box-sizing: border-box;
    padding: 0px 20px;
    overflow-y: auto;
    scrollbar-width: none;
}

app-thread-header {
    @include heightWidth($h: 10%);
    border-radius: 20px 20px 0 0;
}

app-thread-message-field {
    @include heightWidth($h: 20%);
    border-radius: 0 0 20px 20px;
}


