@import '../../mixin.scss';

.main-content {
    @include dFlex($ai: center, $jc: space-between);
    @include heightWidth($h: 85vh);

    @include respond-to-maxWidth(large) {
        @include heightWidth($h: calc(100vh - 80px));
    }


    @include padding($pt: 0px);
}

app-devspace {
    max-width: 20%;
    height: 100%;
}

app-chat {
    @include heightWidth($w: 55%);
    margin: 0 20px;
    flex: auto;
}

app-thread {
    max-width: 25%;
    height: 100%;
}