@import '../../../../mixin.scss';

.reaction-container {

    button {
        @include dFlex();
        position: relative;
        border: none;
        border: 1px solid var(--purple-2);
        border-radius: 20px;
        padding: 3px 7px;
        background-color: var(--secundary-bg);
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;

        img {
            height: 100%
        }

        p {
            @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
            margin-left: 10px;
        }

        span {
            @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
        }
    }

    .add-reaction-btn {
        margin-left: 10px;
    }
}

.show-members {
    @include dFlex();
    width: 100px;
    height: auto;
    min-height: 60px;
    background-color: var(--purple-1);
    position: absolute;
    top: -70px;
    left: 40px;
    border-radius: 10px 10px 10px 0px;

    p {
        @include nunito($fw: 400, $fs: 16px, $c: var(--text-black));
    }
}