@import '../../../mixin.scss';

:ng-deep .mat-mdc-dialog-surface,
:ng-deep mat-dialog-container,
:ng-deep .mdc-dialog--open .mat-mdc-dialog-surface,
:ng-deep .mdc-dialog--closing, :ng-deep .mat-mdc-dialog-surface
{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    border-top-right-radius: 0px !important;
}

.custom-dialog .mat-mdc-dialog-surface {
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    border-top-right-radius: 0px !important;
}

.card{
    @include padding(45px, 40px, 45px, 40px);
    @include dFlex(start, center);
   gap: 38px; 
   flex-direction: column;
   border-top-right-radius: 0px !important;
}

.closeButton {
    border-radius: 50px;
    padding: 4px;
    &:hover{
    cursor: pointer;
    background-color: #DEE1F0;
    }
}

.row{
    width: 100%;
    @include dFlex(space-between, center);
}

.startRow{
    width: 100%;
    @include dFlex(start, center);
}

h3{
    margin: 0px !important;
    @include nunito(700, 24px, black);
}

h4{
    margin: 0px !important;
    @include nunito(700, 20px, black);
}

h2 {
    margin: 0 !important; 
    font-family: 'Nunito', sans-serif; 
    font-weight: 700; 
    font-size: 32px !important; 
    color: black; 
    max-width: 300px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;

    button {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: var(--purple-3);
    }
}

.mat-mdc-button{
    transition: background-color 0.125s ease-in-out;
}

.mdc-button__label{
    transition: color 0.125s ease-in-out;
}

.mat-mdc-button .mdc-button__label{
    color: var(--purple-3);
}

.mdc-button:hover{
    background-color:  var(--purple-2);
    .mdc-button__label{
        color: white !important;
    }
}

.m-t-16{
    margin-top: 16px;
}

.icon{
    width: 30px;
    height: 30px;
    margin-right: 8px;
}


a{
    margin-left: 38px;
    text-decoration: none;
    @include nunito(500, 18px, #1381FF);
}

.profileImage{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    object-fit: cover;
}

.textInput {
    @include padding(15px, 20px, 15px, 20px);
    @include nunito(500, 18px, black);
    border: 1px solid #ADB0D9;
    border-radius: 50px;
    &:hover{
        border: 1px solid var(--purple-1);
    }
    &:focus{
        outline: 0px;
    }
}

.editRow{
    width: 100%;
    @include dFlex(start, center);
}

.status,
.emailTitle
{ 
    @include nunito(600, 20px, black);
    margin-left: 8px;
}

.buttonRow{ 
    @include dFlex(center, center);
    gap: 24px;
    width: 100%;
    button{
        font-size: 18px !important;
        @include padding(12px, 25px, 12px, 25px);
        transform: border 0.3s ease-in-out, background-color  0.3s ease-in-out, color 0.3s ease-in-out;
    }
    .cancelButton{
        background-color: white !important;
        border: 1px solid #ADB0D9;
        color: var(--purple-1) !important;
        &:hover{
            border: 1px solid var(--purple-1);
            background-color: var(--purple-1) !important;
            color: white !important; 
        }
    }
    .saveButton{
        background-color: var(--purple-1) !important;
        &:hover{
            background-color: var(--purple-2);
        }
    }
}

.fileInput {
    position: absolute;    
  }
  
  .fileInput input[type="file"] {
    display: none;
  }
  
  .fileInput button {
    padding: 0; 
  }
  
  .fileInput mat-icon {
    font-size: 24px; 
    color: #3f51b5; 
    cursor: pointer; 
  }
  
  .fileInput button:hover mat-icon {
    color: #1a73e8; 
  }