<section>
    @if (!messageService.isWriteAMessage) {
    <div class="channel-header" *ngIf="directMessageService.isDirectMessage == false">
        <button class="creator-team-btn" (click)="openEditChannel()">
            <mat-icon class="hashtag">tag</mat-icon>
            <p class="chatTitle">{{auth.currentChannelData.title}}</p>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <div class="add-members-container">
            @if (auth.currentChannelData.isPublic) {
            <div class="showMemberListButtonContainerPuplic">
                <img class="serverSVG" src="/img/devspace/titleAndServerSvg.svg">
                <p>Public</p>
            </div>
            }
            @else {
            <div class="showMemberListButtonContainer" (click)="showMembersOfChannel()">
                <div class="active-members-image-container" *ngFor="let member of this.memberService.allChannelMembers">
                    <img style="margin-left: -10px;" src="{{member.imageUrl}}" alt="">
                </div>
                <p>{{auth.currentChannelData?.membersId?.length}}</p>
            </div>
            <button>
                <mat-icon (click)="addMembersToChannel()" class="add-members">person_add</mat-icon>
            </button>
            }
        </div>
    </div>
    <div class="direct-message-header" *ngIf="directMessageService.isDirectMessage">
        <div>
            <img src="{{directMessageService.directMessageUserData.imageUrl}}">
            <div class="online-status"></div>
        </div>
        <h2>{{directMessageService.directMessageUserData.name}}</h2>
    </div>
    } @else {
    <h3 class="new-message-headline">Neue Naricht</h3>
    <input class="wirte-message-field" type="search" name="" placeholder="To #channel or @someone or email address">
    }
</section>