<section>
    <button class="creator-team-btn" (click)="openEditeChannel()">
        <mat-icon class="hashtag">tag</mat-icon>
        <p>Entwicklerteam</p>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <div class="add-members-container">
        <div class="active-members-image-container">
            <img src="/img/profil-pic/001.svg" alt="">
            <img style="margin-left: -10px;" src="/img/profil-pic/001.svg" alt="">
            <img style="margin-left: -10px;" src="/img/profil-pic/001.svg" alt="">
        </div>

        <p>3</p>
        <button>
            <mat-icon (click)="addMembersToChannel()" class="add-members">person_add</mat-icon>
        </button>
    </div>
</section>