@import '../../../../mixin.scss';

section {
    @include heightWidth($w: 100%, $h: 100%);
    box-sizing: border-box;
    padding: 0 30px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 4px -2px var(--primary-bg);
}

.channel-header {
    @include heightWidth($w: 100%, $h: 100%);
    @include dFlex($ai: center, $jc: space-between);
}

.direct-message-header {
    @include heightWidth($w: 100%, $h: 100%);
    @include dFlex($ai: center, $jc: start);

    div {
        position: relative;

        img {
            @include heightWidth($w: 50px, $h: 50px);
            @include image($br: 50%);
            object-fit: cover;
        }

        .online-status {
            @include heightWidth($w: 15px, $h: 15px);
            position: absolute;
            border-radius: 50%;
            background-color: greenyellow;
            bottom: 5px;
            right: 0px;
        }
    }

    h2 {
        @include nunito($fw: 700, $fs: 24px);
        margin: 0 15px;
    }
}

.creator-team-btn {
    @include dFlex($ai: center, $jc: space-between);
    border: none;
    border-radius: 20px;
    background-color: var(--secundary-bg);
    cursor: pointer;

    &:hover {
        background-color: var(--primary-bg);
    }

    p {
        @include nunito($fw: 700, $fs: 24px);
        margin: 0 15px;
    }
}

.add-members-container {
    @include heightWidth($w: auto, $h: 100%);
    @include dFlex($ai: center, $jc: space-between);
    .active-members-image-container {
        display: flex;
        img {
            @include heightWidth($w: 35px, $h: 35px);
            @include image($br: 50%);
            border: 3px solid white;
            object-fit: cover;
        }
    }

    p {
        @include nunito($fw: 600, $fs: 20px);
        margin: 0 15px;
    }

    button {
        @include heightWidth($w: 40px, $h: 40px);
        @include dFlex();
        border: none;
        background-color: var(--primary-bg);
        border-radius: 100%;
        cursor: pointer;
        padding: 24px;
        mat-icon{
            transition: color 0.125s ease-in-out, transform 0.125s ease-in-out;
            padding: 16px;

        }
        &:hover {
            cursor: pointer;
            mat-icon{
                transform: scale(1.2);
                color: var(--purple-1);
            }
        }

    }
}

.chatTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 360px;
    white-space: nowrap;
}

.serverSVG{
    width: 32px;
    height: 32px;
    border: 3px solid white;
    border-radius: 50px;
}

.showMemberListButtonContainer{
    @include dFlex($ai: center, $jc: space-between);
    @include padding(8px, 20px, 8px, 8px);
    border-radius: 50px;
    @include dFlex($ai: center, $jc: space-between);
    transition: background-color 0.125s ease-in-out;
    p{
        transition: color 0.125s ease-in-out;
    }
    &:hover {
        background-color: var(--primary-bg);
        cursor: pointer;
        p{
            color: var(--purple-1) !important;
        }
    }
}

mat-icon {
    @include dFlex();
    @include materialSymbols($fs: 24px);
}