<div class="content-inside-wrapper">

    <div class="flow">
        <div (click)="sendClickToParentPageCounter(0)" class="step-back-button"><mat-icon>arrow_back</mat-icon></div>
        <h1>Create Account</h1>
    </div>

    <p>With your name and email address you have your new DABubble account.</p>
    <div class="input-area">   
        <div class="form" [formGroup]="myForm">
        <app-input-field formControlName="fullName" type="text" icon="person" placeholder="Firstname & Lastname" [required]="true" minlength="3" pattern="[A-Za-z._\-\s]+" ></app-input-field>
        <app-input-field formControlName="email" type="email" icon="mail" placeholder="example@email.com" [required]="true" minlength="6" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"  ></app-input-field>
        <app-input-field formControlName="password" type="password" icon="lock" placeholder="Password" [required]="true" minlength="8" ></app-input-field>
        <div class="set-right"> <button [disabled]="!myForm.valid" (click)="onSubmit(2)" >Go On</button> </div>
        </div>
    </div>
</div>