@import '../../../../mixin.scss';

.new-message-container {
    @include dFlex($ai: start, $jc: start);
    box-sizing: border-box;
    padding: 40px 0px;
    position: relative;
    border-top: 1px solid var(--border-light-purple);

    img {
        @include image($br: 50%);
        @include heightWidth($w: auto, $h: 60px);
        margin-right: 30px;
    }

    .name {
        @include dFlex($jc: start);

        h5 {
            @include nunito($fw: 700, $fs: 18px);
            margin-right: 20px;
        }

        p {
            @include nunito($fw: 400, $fs: 14px, $c: var(--text-gray));
        }
    }

    .message {
        background-color: var(--primary-bg);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 0 20px 20px 20px;
        margin: 10px 0;

        p {
            @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
        }
    }

    .answer-container {
        @include dFlex($jc: start);

        .answer {
            @include nunito($fw: 400, $fs: 18px, $c: var(--purple-3));
            margin-right: 20px;
        }

        .answer-time {
            @include nunito($fw: 400, $fs: 14px, $c: var(--text-gray));
        }
    }

    .answer-date-time-container {
        @include dFlex();
        position: absolute;
        top: -18px;
        left: 38%;
        border-radius: 20px;
        border: 1px solid var(--border-light-purple);
        box-sizing: border-box;
        padding: 5px 10px;
        background-color: var(--secundary-bg);

        p {
            @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
        }
    }

}

.hover {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 30px;

    &:hover {
        background-color: var(--primary-bg);
    }
}

.options {
    background-color: white;
    box-sizing: border-box;
    padding: 0px 10px;
    position: absolute;
    right: 50px;
    top: 25px;
    border-radius: 20px 20px 20px 0px;
    border: 2px solid var(--border-light-purple);
    @include dFlex();




    .options-btn {
        border: none;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: white;
        cursor: pointer;

        

        img {
            height: 100%;
            width: 100%;

        }

        &:hover {
            background-color: var(--border-light-purple);
        }
    }

}