@import '../../../../mixin.scss';

@import '../../../../mixin.scss';

.new-message-container {
    @include dFlex($ai: start, $jc: start);
    box-sizing: border-box;
    padding: 50px 0px;
    position: relative;
    border-top: 1px solid var(--border-light-purple);

    .profile-image {
        @include image($br: 50%);
        @include heightWidth($w: auto, $h: 60px);
    }

    .name {
        h5 {
            @include nunito($fw: 700, $fs: 18px);
        }

        p {
            @include nunito($fw: 400, $fs: 14px, $c: var(--text-gray));
        }
    }

    .message {
        box-sizing: border-box;
        padding: 10px;
        margin: 10px 0;
        width: 100%;

        textarea {
            @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
            width: 100%;
            height: 100%;
            resize: none;
            outline: none;
            border: none;
            border-radius: 20px 0px 20px 20px;
            box-sizing: border-box;
            padding: 10px;
            background-color: var(--purple-2);

        }

        .edit-info-text {
            position: absolute;
            bottom: 50px;
            left: 30px;
            @include nunito($fw: 400, $fs: 12px, $c: var(--text-black));

            span {
                color: var(--text-blue);
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .reaction-container {

        button {
            @include dFlex();
            border: none;
            border: 1px solid var(--purple-2);
            border-radius: 20px;
            padding: 5px 10px;
            background-color: var(--secundary-bg);
            margin-right: 10px;
            margin-top: 10px;

            img {
                height: 100%
            }

            p {
                @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
                margin-left: 10px;
            }
        }

        .add-reaction-btn {
            margin-left: 10px;
        }
    }

    .answer-date-time-container {
        position: absolute;
        top: -18px;
        left: 40%;
        border-radius: 20px;
        border: 1px solid var(--border-light-purple);
        box-sizing: border-box;
        padding: 5px 10px;
        background-color: var(--secundary-bg);

        p {
            @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
        }
    }

}

.hover {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 30px;

    &:hover {
        background-color: var(--primary-bg);
    }
}

.options {
    background-color: white;
    box-sizing: border-box;
    padding: 0px 10px;
    position: absolute;
    left: 50px;
    top: 25px;
    border-radius: 20px 20px 0px 20px;
    border: 2px solid var(--border-light-purple);
    @include dFlex();


    .options-btn {
        @include heightWidth($w: 40px, $h: 40px);
        border: none;
        margin: 0 5px;
        text-align: center;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;

        &:hover {
            background-color: var(--border-light-purple);
        }
    }

    .optionsMenu {
        background-color: white;
        margin-top: 20px;
    }
}

.edit-message-menu {
    @include dFlex($ai: start);
    background-color: white;
    position: absolute;
    bottom: -79px;
    right: -2px;
    flex-direction: column;
    border-radius: 0px 0px 0px 10px;
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid var(--border-light-purple);

    button {
        border: none;
        background-color: white;
        @include nunito($fw: 400, $fs: 16px, $c: black);
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--border-light-purple);
        }
    }
}

.postet-image-container {
    width: 100%;
    @include dFlex($jc: start);
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
}

.image {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;

}

.image-container {
    position: relative;
}

.edit-images {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: rgba(255, 0, 0, 0.753);
    background-color: var(--btn-gray);
    cursor: pointer;
}

.message {
    background-color: var(--primary-bg);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0 20px 20px 20px;
    margin: 10px 0;

    p {
        @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
    }
}

.answer-container {
    @include dFlex($jc: start);


    .answer {
        @include nunito($fw: 400, $fs: 18px, $c: var(--purple-3));
        margin-right: 20px;
        cursor: pointer;
    }

    .answer-time {
        @include nunito($fw: 400, $fs: 14px, $c: var(--text-gray));
    }
}

.answer-date-time-container {
    @include dFlex();
    position: absolute;
    top: -18px;
    left: 40%;
    border-radius: 20px;
    border: 1px solid var(--border-light-purple);
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: var(--secundary-bg);

    p {
        @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
    }
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-end {
    @include dFlex($jc: end);
}

.flex-start {
    @include dFlex($jc: start);
}

.mr {
    margin-right: 20px;
}

.ml {
    margin-left: 20px;
}

.option-menu {
    right: 50px;
    left: auto;
    border-radius: 20px 20px 20px 0px;
}

.myMessage {
    background-color: var(--purple-2);
    border-radius: 20px 0px 20px 20px;
}

.memberMessage {
    background-color: var(--primary-bg);
    border-radius: 0 20px 20px 20px;
}

.text-dark {
    @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
}

.text.light {
    @include nunito($fw: 400, $fs: 18px, $c: var(--secundary-bg));
}