@font-face {
  font-family: 'Nunito';
  font-weight: 100 1000;
  src: url('../public/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-italic';
  font-weight: 100 1000;
  src: url('../public/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 100 1000;
  src: url('../public/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree-italic';
  font-weight: 100 1000;
  src: url('../public/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}
