@import '../../../mixin.scss';

.new-message-container {
    @include dFlex($ai: start, $jc: start);
    box-sizing: border-box;
    position: relative;

    .profile-image {
        @include image($br: 50%);
        @include heightWidth($w: 60px, $h: 60px);
        object-fit: cover;
    }

    .answer-date-time-container {
        position: absolute;
        top: -18px;
        left: 40%;
        border-radius: 20px;
        border: 1px solid var(--border-light-purple);
        box-sizing: border-box;
        padding: 5px 10px;
        background-color: var(--secundary-bg);

        p {
            @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
        }
    }

}

.border-top {
    padding: 50px 0px;
    border-top: 1px solid var(--border-light-purple);
}

.border-none {
    padding: 10px 0;
    border-top: none;
}

.hover {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 30px;

    &:hover {
        background-color: var(--primary-bg);
    }
}

.text-dark {
    @include nunito($fw: 400, $fs: 18px, $c: var(--text-black));
}

.text.light {
    @include nunito($fw: 400, $fs: 18px, $c: var(--secundary-bg));
}

.thread-answers-current {

}