<section class="MainWrapper">
 
    <div class='whiteBox'>

        <div class="content-inside-wrapper">
            <h1>Reset your Password</h1>
            <div class="form" [formGroup]="myFormResetPassword">
                <div class="input-area">   
                    <app-input-field formControlName="setNewPassword" type="password" icon="lock" placeholder="Password" minlength="8" [required]="true"></app-input-field>
                    <app-input-field formControlName="confirmPassword" type="password" icon="lock" placeholder="Password" minlength="8" [required]="true"></app-input-field>
                </div>
                <div class="button-collection">
                    <button [disabled]="!myFormResetPassword.valid" (click)="setNewPassword()">Save new Password</button>
                </div>
            </div>
        </div>

    </div>

</section>
