<app-headmenu-login (eventInHead)="changePageNumber($event)" ></app-headmenu-login>
<app-login-animation></app-login-animation>
<app-login-animation-inside></app-login-animation-inside>

<section class="MainWrapper">
 
    <div class='whiteBox'>

        <app-sign-in [ngClass]='getClass(0)'></app-sign-in>
        <app-sign-up [ngClass]='getClass(1)'(eventInChild)="changePageNumber($event)"></app-sign-up>
        <app-choose-avatar [ngClass]='getClass(2)' (eventInProfil)="changePageNumber($event)"></app-choose-avatar>
        <app-success-creating-account [ngClass]='getClass(3)' (eventInSuccess)="changePageNumber($event)"></app-success-creating-account>
        
    </div>

    <app-submenu-login (eventInSubMenu)="changePageNumber($event)"></app-submenu-login>

</section>

