@import '../../../mixin.scss';
.MainWrapper{
    @include heightWidth($w: 100%, $h: 100dvh);
    @include dFlex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 1%;
}


.whiteBox::-webkit-scrollbar{
    display: none;
}

.whiteBox{
    position: relative;
    @include heightWidth($w: 100%, $h: 100%);
    @include dFlex($jc: space-between);
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 3px rgba(16, 0, 159, 0.1);
    margin-top: calc(136px);
    padding: 28px 0px;
    background-color: var(--secundary-bg);
    max-height: 75%;
    border-radius: 24px;
    overflow-y: scroll;
    @include respond-to-maxWidth(medium) {
        @include heightWidth($w: 90%, $h: 100%);
        justify-content: start;
    }
}

.deactive-forwards{
    width: 100%;
    @include dFlex;
    position: absolute;
    position: 0px;
    left: 0px;
    animation: fade-out-forwards 0.35s ease-in forwards;
}

.active-forwards{
    width: 100%;
    @include dFlex;
    position: absolute;
    position: 0px;
    left: 0px;
    animation: fade-in-forwards 0.35s ease-in forwards;
}

@keyframes fade-out-forwards{
    from{
    opacity: 1;
    transform: translateX(0px);
    }

    to{
    opacity: 0;
    display: none;
    transform: translateX(-500px);
    }
}


@keyframes fade-in-forwards{
    from{
    opacity: 0;
    transform: translateX(500px);
    display: flex;
    }

    to{
    opacity: 1;
    transform: translateX(0px);
    }
}

.deactive-backwards{
    width: 100%;
    @include dFlex;
    position: absolute;
    position: 0px;
    left: 0px;
    animation: fade-out-backwards 0.35s ease-in forwards;
}

.active-backwards{
    width: 100%;
    @include dFlex;
    position: absolute;
    position: 0px;
    left: 0px;
    animation: fade-in-backwards 0.35s ease-in forwards;
}

@keyframes fade-out-backwards{
    from{
    opacity: 1;
    transform: translateX(0px);
    }

    to{
    opacity: 0;
    display: none;
    transform: translateX(500px);
    }
}

@keyframes fade-in-backwards{
    from{
    opacity: 0;
    transform: translateX(-500px);
    display: flex;
    }

    to{
    opacity: 1;
    transform: translateX(0px);
    }
}

.still-deactive{
    display: none;
}


@media (orientation: portrait) {
    .whiteBox{
      max-height: 700px;
    }

    .MainWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }
  }

  
@media (orientation: landscape) and (max-height: 850px){
    .whiteBox{
      justify-content: start;
    }
  }
