@if(lightbox.lightboxIsOpen){<app-lightbox></app-lightbox>}
<app-headmenu-login (eventInHead)="changePageNumber($event)" ></app-headmenu-login>
@if(auth.enableAnimation){<app-login-animation></app-login-animation>}
@if(auth.enableAnimation){<app-login-animation-inside></app-login-animation-inside>}
@if(!auth.enableAnimation){
    <div class="logo-mainWrapper">
        <div class="max-wrapper">
            <div class="logo"><img [src]="darkmode.isDarkMode() ? './img/main-assets/main-logo-dark.svg' : './img/main-assets/main-logo.svg'"></div>
        </div>
    </div>}


<section class="MainWrapper">

    <div class='whiteBox'> 
        <app-sign-in [ngClass]='getClass(0)'(eventInSignIn)="changePageNumber($event)"></app-sign-in>
        <app-sign-up [ngClass]='getClass(1)'(eventInChild)="changePageNumber($event)"></app-sign-up>
        <app-choose-avatar [ngClass]='getClass(2)' (eventInProfil)="changePageNumber($event)"></app-choose-avatar>
        <app-success-creating-account [ngClass]='getClass(3)' (eventInSuccess)="changePageNumber($event)"></app-success-creating-account>
        <app-lost-password [ngClass]='getClass(7)'(eventInLostPassword)="changePageNumber($event)"></app-lost-password>
        <app-reset-password [ngClass]='getClass(8)' (eventInResetPassword)="changePageNumber($event)"></app-reset-password>
        @if(auth.infoBannerIsSubmit){<app-info-banner [text]=auth.infoBannertext [icon]=auth.infoBannerIcon></app-info-banner>}
    </div>

    <app-submenu-login (eventInSubMenu)="changePageNumber($event)"></app-submenu-login>

</section>

